body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* background: #fc466b; 
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); 
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  );  */
  background: linear-gradient(135deg, #eceddc 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #eceddc 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #eceddc 25%, transparent 25%),
    linear-gradient(45deg, #eceddc 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #ec173a;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  z-index: 2;
}
.background {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
}
button {
  z-index: 999;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 5px;
  width: 230px;
  margin: 0 auto;
  margin-top: 6rem;
  height: 100%;
}

li {
  border: solid 2px #6f00ff;
  border-radius: 10px;
  font-size: 1rem;
  list-style: none;
  margin-bottom: 30px;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  transform: translateZ(0);
}
.text {
  padding: 0.5rem;
  line-height: 1.6;
  width: 300px;
  margin: auto;
  font-weight: 550;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
}
footer {
  padding: 0.2rem 0;
  color: #fff;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 0 0 15px 15px;
  z-index: 1;
}
footer a {
  color: #fff;
}
