body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
}
button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 5px;
  width: 230px;
  margin: 0 auto;
  margin-top: 6rem;
  height: 100%;
}

li {
  border: solid 2px #6f00ff;
  border-radius: 10px;
  font-size: 1rem;
  list-style: none;
  margin-bottom: 30px;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  transform: translateZ(0);
}
.text {
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
}
footer {
  padding: 0.2rem 0;
  background: rgb(61, 61, 61);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}
footer a {
  color: #fff;
}
